#image{
    background-image: url("https://th.bing.com/th/id/R.a5ce1ca976c80e05579c603f4d28bb9a?rik=J%2fhTrfnC7t7J%2bw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2ff%2f8%2f4%2f96452.jpg&ehk=qt4t7ItAEKpFBvgwDYEFv9Xo4BtMDDUASR%2b1lqruWc4%3d&risl=&pid=ImgRaw&r=0");
    background-position: center;
    background-size: 100%;
    width:1300px;
    height:800px;
}


.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow: 5px 5px 5px rgb(255, 152, 245);

}
.note{
    font-size: 15px;
    color:black;
}
.copy_right_footer{
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    background-color: rgb(255, 217, 0);
    line-height:3;
    text-align:center;
}
canvas{
    border: 5px solid rgb(163, 194, 255);
    border-radius: 20px;
    box-shadow:5px 5px 5px rgb(255, 130, 203);
}